.skillsContainer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContent {
    width: 85%;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skillsList {
    width: 20%;
    border-radius: 15px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 80%;
    margin: auto;
}

.titleText {
    font-size: 1.5em;
    padding: 15px;
    background-color: whi;
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoImage {
    width: 90%;
    height: auto;
    object-fit: contain;
}