.profileNavContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.linkContainer  {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileNavContainer div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}