.descriptionContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 90%;
    height: 90%;
}

.mainDescription {
    width: 100%;
    margin-bottom: 2em;
}

.mainSpan {
    color: #ed3770;
}
