.sliderContainer {
    width: 50%;
    height: 100%;
    border: 1px black solid;
}

.imageContainer {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}