.modalContentContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.descriptionContainer {
    width: 50%;
    height: 100%;
}