.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalContent {
    background: white;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.titleContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}